body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;

}
/* 
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.timeline-container {
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.info {
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    margin-block: 10rem;
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    opacity: 1;
    transform: translateX(0);
}

.imgs {
    flex-basis: 30%;
    text-align: center;
}

.image {
    width: 95%;
    height: 50%;
    border-radius: 50%;
    object-fit: cover;
    margin: 3rem auto;
    display: block;
    /* margin-right: 20px; */
    /* between img & about*/
}

.about {
    flex-basis: 70%;
    position: relative;
    font-size: 20px;
}

.timeline {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;
    width: 100%;
    margin: 2rem 0;
    /* overflow-x: scroll; */
}

.timeline-bar {
    position: absolute;
    top: 40%;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #bebaba;
    z-index: 1;
    transition: background 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out;
    opacity: 1;
    transform: translateX(0);
}

/* .timeline::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #bebaba;
    z-index: 1;
    transition: background-color 0.3s ease-out;
} */

.timeline-dot {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out, transform 0.3s ease-out;
}

.timeline-dot:hover {
    background-color: #0056b3;
}

.timeline-dot.active {
    /* background-color: #ff5722; */
    background-color: white;
    box-shadow: 0 0 0 4px #007bff;
    transform: scale(1);
}

.timeline-date {
    position: absolute;
    top: -30px;
    /* Adjusts the position above the dot */
    transform: translateX(-30%);
    font-size: 15px;
    font-weight: 500;
    color: rgb(100, 100, 100);
    white-space: nowrap;
}

@media (max-width: 768px) {
    body {
        overflow-y: auto;
        width: 100vw;
        height: 100vh;
    }

    .info {
        width: 80%;
        /* height: auto; */
        height: 350px;
        flex-direction: column;
        margin: 2% 1%;
        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
        opacity: 1;
        transform: translateY(0);
    }

    .imgs {
        width: 60%;
    }

    .image {
        width: 80%;
        margin: 1rem auto;
        height: auto;
    }

    .about {
        font-size: 18px;
        text-align: center;
    }

    .timeline {
        flex-direction: column;
    }

    .timeline-bar {
        top: 7%;
        /* left: 30%; */
        width: 3px;
        height: 90%;
    }

    .timeline-entry {
        /* left: -45%; */
        /* flex-basis: 30%; */
        position: relative;
        /* left: -13%; */
        /* width: 30%; */
        /* display: flex; */
        /* align-items: center;
        justify-content: center;
        text-align: center; */
    }

    .timeline-dot {
        position: relative;
        left: -10px;
        /* width: 30%; */
        /* display: flex; */
        /* margin-bottom: 1rem; */
        align-items: center;
        justify-content: center;
        /* text-align: center; */
        /* margin: 0 auto; */
    }

    .timeline-date {
        position: relative;
        text-align: left;
        margin-left: 25px;
        top: 18px;
        transform: translateX(0%);
        /* margin-top: 0.5rem; */
    }
}